#innerdivlog{
    background-color: #ebeef7;
    height:760px;
    display:flex;
}
#innerleftlog{
    width: 40%;
    height:760px;
}
#innerrightlog{
    width: 50%;
    height:760px;
}
#innerrightlog>div{
    margin: auto;
}
#innerrightlog>div>h1{
    width: 90%;
    font-family: Inter, Roboto, sans-serif, Helvetica;
    font-size: 40px;
}
#innerleftlog>div{
    background-color: white;
    width: 35%;
    height:300px;
    margin: auto;
    margin-top: 170px;
    margin-right: 45px;
    border-radius: 20px;
    border: 1px dashed gray;
}
#innerleftlog>div>div{
    position: relative;
    bottom: 45px;
    width:40%;
    margin: auto;
    margin-bottom: 10px;
}
#innerleftlog>div>h2{
    position:relative;
    font-family: Inter, Roboto, sans-serif, Helvetica;
    font-size: 20px;
    bottom: 45px;
    width:70%;
    margin:auto;
    margin-bottom: 10px;
}
#innerleftlog>div>p{
    position:relative;
    font-family: Inter, Roboto, sans-serif, Helvetica;
    bottom: 45px;
    width:70%;
    margin:auto;
    margin-bottom: 10px;
    color:rgb(133,129,141);
}
#innerrightlog>div{
    width: 80%;
    height:500px;
    background-color: white;
    margin-top: 30px;
    padding-top: 40px;
    border-radius: 20px;
}
#innerrightlog>div>h1{
    margin-left: 80px;
    font-family: Inter, Roboto, sans-serif, Helvetica;
}
#innerrightlog>div>form{
    margin-left: 80px;
}
#innerrightlog>div>form>input{
    padding: 20px;
    width:600px;
}
#innerrightlog>div>form>input:nth-child(6){
    width:200px;
    margin-right: 300px;
}
#innerrightlog>div>div{
    text-align: center;
}
#footerlog{
    background-color: #ebeef7;
    height:100px;
}
#footerlog>div{
    display: flex;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-around;
}
#footerlog>div{
    font-size:smaller;
}
#footerlog>div>div>a{
    text-decoration: none;
    font-family: Inter, Roboto, sans-serif, Helvetica;
    color: rgb(0, 132, 255);
    font-size: small;
    padding-top: 30px;
}
#innerrightlog>div>form>p{
    font-family: Inter, Roboto, sans-serif, Helvetica;
}
#innerrightlog>div>div>p{
    font-family: Inter, Roboto, sans-serif, Helvetica;
}